<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.orderserver.mapper.OrdOrderFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.white.orderserver.pojo.entity.OrdOrderFlow">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="change_reason" property="changeReason" />
        <result column="order_price_before" property="orderPriceBefore" />
        <result column="order_price_after" property="orderPriceAfter" />
        <result column="order_status_before" property="orderStatusBefore" />
        <result column="order_status_after" property="orderStatusAfter" />
        <result column="sort" property="sort" />
        <result column="enable_flag" property="enableFlag" />
        <result column="enable_begin" property="enableBegin" />
        <result column="enable_end" property="enableEnd" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="last_update_by" property="lastUpdateBy" />
        <result column="comments" property="comments" />
        <result column="version" property="version" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id AS orderId, change_reason AS changeReason, order_price_before AS orderPriceBefore, order_price_after AS orderPriceAfter, order_status_before AS orderStatusBefore, order_status_after AS orderStatusAfter, sort, enable_flag AS enableFlag, enable_begin AS enableBegin, enable_end AS enableEnd, create_time AS createTime, create_by AS createBy, last_update_time AS lastUpdateTime, last_update_by AS lastUpdateBy, comments, version, status
    </sql>

</mapper>
